* {
    margin: 0px;
    padding: 0px;
}

header {
    text-align: center;
    /* By default, height is for content-box, but box-sizing: border-box will make it
     * content + padding + border */
    padding: 4rem;
    background-color: #bdbdbd;
}

.gamearea {
    padding: 10em 4em;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
}

.status {
    border: 1px solid red;
}

.cell {
    border: 1px solid black;
    text-align: center;
    padding: 33.333%;
}

.cell:hover {
    background-color: #b6b6b6;
}

footer {
    text-align: center;
    height: 50%;
    background-color: #bdbdbd;
}

input {
    padding: 5px;
}