body {
    background-color: beige;
}

td {
    border: 1px solid black;
    height: 150px;
    width: 150px;
}

td:hover {
    background-color: yellow;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cell {
    font-size: 48px;
    text-align: center;
}